body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
html {
    background-color: #540b0e;
}

.App {
    color: #fff3b0;
    background-color: #540b0e;
}

.logo{
    width: 100%;
}

/* NavBar Stuff */  
.NavBar{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    background-color: #e09f3e;
    height: 100px;
    width: 100%;
}

a {
    color: #9e2a2b;
    font-size: x-large;
}

/* Forms */
.GenerateQuestionDiv{
    padding: 5%;
}

.GenerateQuestionForm {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}

.AddQuestionForm {
    display:flex;
    justify-content: center;
    padding: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

label {
    margin-left: 20px;
    font-size: x-large;
}

.custom-select {
    font-family: Arial;
    color: #fff3b0;
    background-color: #540b0e;
    border-radius: 10px;
    margin-left: 10px;
  }

.form-input {
    font-family: Arial;
    color: #fff3b0;
    background-color: #540b0e;
    border-radius: 10px;
    border-color: #fff3b0;
    margin-left: 10px;
}

.submit-button {
    border-radius: 10px;
    font-family: Arial;
    color: #fff3b0;
    background-color: #540b0e;
    border-color: #fff3b0;
    margin-left: 5px;
}

h1 {
    display: flex;
    justify-content: center;
}

/* Question Container */
.generated-questions {
    display: inside;
    justify-content: center;
    background-color: #9e2a2b;
    color:#fff3b0;
    padding: 20px;
    border-radius: 10px;
    margin: 10px
}

.save-button{
    border-radius: 10px;
    font-family: Arial;
    color: #fff3b0;
    background-color: #9e2a2b;
    border-color: #e09f3e;
    margin-left: 5px;
}

.answer-button{
    border-radius: 10px;
    font-family: Arial;
    color: #fff3b0;
    background-color: #9e2a2b;
    border-color: #e09f3e;
    margin-left: 5px;
}

p{
    margin: 10px;
}



.questionsDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    columns: 2;
}

.favoriteCard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    columns: 2;
}

.myQuestionCard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    columns: 2;
}